

NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10ZHpydGZqd2R5cXlheGVja2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1NTY5MzUsImV4cCI6MjA2ODEzMjkzNX0.Xy5X4O_neVgo0MYohltINU9HDBWwzysvnjFfAtKzl1Y